/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header .inner {
  padding: 20px 20px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
}
header .inner h1 {
  font: bold 25px "Roboto";
  text-transform: uppercase;
  color: #fff;
}

main {
  display: block;
  position: relative;
  box-sizing: border-box;
}
main .inner {
  display: block;
  padding-top: 20px;
  box-sizing: border-box;
}
main .inner .taskInput {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
}
main .inner .taskInput form {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .inner .taskInput form input[name=firstName] {
  width: 100%;
  height: 40px;
  font: bold 20px "Roboto";
  text-align: center;
}
main .inner .taskList {
  margin: 0 auto 0;
  padding: 0 20px;
  max-width: 760px;
  max-height: calc(100vh - 210px);
  overflow-y: scroll;
}
main .inner .taskList__item {
  padding-top: 20px;
  padding-bottom: 20px;
  transition: 0.5s ease;
  -webkit-user-select: none;
          user-select: none;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}
main .inner .taskList__item.is__cross {
  opacity: 0.2;
  pointer-events: none;
}
main .inner .taskList__item:not(:first-child) {
  padding-top: 20px;
  border-top: 1px solid #000;
}
main .inner .taskList__item .title {
  width: calc(100% - 30px);
  font: 500 18px "Roboto";
  text-transform: uppercase;
}
main .inner .taskList__item .checkbox {
  position: relative;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 5px;
}
main .inner .taskList__item .checkbox input[type=checkbox] {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  opacity: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
main .inner .taskList__item .checkbox .check {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  pointer-events: none;
}
main .inner .taskList__item .checkbox input[type=checkbox]:checked ~ .check:before, main .inner .taskList__item .checkbox input[type=checkbox]:checked ~ .check:after {
  content: "";
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  width: 10px;
  height: 2px;
  background: red;
}
main .inner .taskList__item .checkbox input[type=checkbox]:checked ~ .check:before {
  transform: rotate(-45deg) translateX(0px);
}
main .inner .taskList__item .checkbox input[type=checkbox]:checked ~ .check:after {
  transform: rotate(45deg) translateX(0px);
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}
footer h1 {
  font: bold 13px "Roboto";
  text-transform: uppercase;
  color: gray;
}